body {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    background-color: #ccc;
    font-size: 16px;
    line-height: 32px;
    margin: 50px;
    }
#panel {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid white;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #4394e6;
    -webkit-box-shadow: 7px 7px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 20px 0px rgba(0,0,0,0.75);
    }
